@media screen and (max-width:576px) {
    
    .sidenab-media{
        display: block;
        color: white;
    }
    .nav-menu{
        display: none;
    }
    .banner-section{
        flex-direction: column;
        gap: 20px;
    }
    .banner-image-up1{
        margin-top: -550px;
        margin-left: 200px;
    }
    .banner-image-up2{
        margin-top: -300px;
        margin-left: 0px;
    }

    /* banner complete */

    /* card section  */
    .maintain-container-head-header{
        font-size: 32px;
    }
    .maintain-cards{
        flex-direction: column;
    }

  
    /* run extra  */
    .run-extra-parent{
        display: inline-block;
        margin-left: -30px;
    }
    .run-extra-child{
        flex-direction: column;
        gap: 30px;
    
    }
    .run-extra-grandchild-header{
        font-size: 32px;
    }  
    .maintain-child-description{
        font-size: 14px;
        font-weight: 400;
    }

    /* select */
    .select-one{
        width: 200px;

    }
    .select-two{
        width: 200px;
    }

    /* bmi section */

   .bmi-section-parent{
        flex-direction: column;
   }
   .bmi-section-table-header{
        margin-right: -90px;
   }
   .bmi-section-table{
    width: 400px;
   }
   .bmi-section-form-head-description{
    text-align:justify;
    font-size: 10px;

   }

   .bmi-section-form{
    margin-right: -90px;
   }
   .calculate-btn{
    margin-right: 200px;
    padding: 10px 30px;
   }
   /* trainer  */
   .team-section-img{
        grid-template-columns: repeat(1,1fr);
   }

   /* footer */
   .footer-section-parent{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
   }

}